@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes izq {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }

}
/* .about:hover .about-line img {
    transform: scale(1.02);
} */
.about:hover .about-line{
    transform: translateY(-10px);
    box-shadow: 30px 30px 00 #0ea5e9;
}
.about-line{
    
    box-shadow: 20px 20px 0 0 #0ea5e9;
    transform: translateY(0);
    
}




input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}