@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes izq {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }

}
/* .about:hover .about-line img {
    transform: scale(1.02);
} */
.about:hover .about-line{
    transform: translateY(-10px);
    box-shadow: 30px 30px 00 #0ea5e9;
}
.about-line{
    
    box-shadow: 20px 20px 0 0 #0ea5e9;
    transform: translateY(0);
    
}

@media only screen and (max-width:600px) {
    .about:hover .about-line{
        transform: translateY(-10px);
        box-shadow: 20px 20px 00 #0ea5e9;
    }
    .about-line{ box-shadow: 10px 10px 00 #0ea5e9;
        transform: translateY(0);
    }
}

@keyframes mobileNavbar {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
    
    
}

@keyframes mobileNavbarExit {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(100%);
    }
}


.mobileNavbarExit{
    
    transform: translateY(100%);
    transition-duration: 1.5s;
}

.mobileNavbar {
   animation: mobileNavbar 1.5s  ;
}

@keyframes mercadoPago-Basic{
    from {
        transform: translateY(-15%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 90;
    }
}

.mercadoPago-Basic{
    animation: mercadoPago-Basic 0.5s ease-in-out;
  
 
}
.transition-ALL {
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
@keyframes exit-mercadoPago {
    from {
      transform: translateY(0%);
      opacity: 90;
      max-height: 340px;
    } to {
     transform: translateY(-15%);
     opacity: 0;
      
     
    }
}

.exit-mercadoPago {
    animation:  exit-mercadoPago 0.5s ease-in-out ;
  opacity: 0;
    display: none;
   
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
html {
  scrollbar-gutter: stable;
}
html {
  padding-right: 0 !important;
  overflow: visible !important;
}